@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

/* Turning off the prefers-color-scheme mode
 * https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --default-font-family: "Open Sans";
    --color-positive: var(--color-green-300);
    --color-positive-100: var(--color-green-700);
    --color-negative: var(--color-red-300);
    --color-negative-100: var(--color-red-700);
    --color-zero: var(--color-neutral-300);
    --color-zero-100: var(--color-neutral-700);
}

html, body, #root {
    @apply size-full;
}

#root {
    @apply p-4;
}

body:has(dialog[open]) #root {
    @apply blur-xs pointer-events-none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@layer components {
    .link {
        @apply underline text-blue-700;
    }

    .overlay-arrow[data-placement="right"] > svg {
        @apply rotate-90 left-4 top-1;
    }

    .overlay-arrow[data-placement="left"] > svg {
        @apply -rotate-90 right-4 top-1;
    }
    
    /* If our table cell doesn't have a background, apply one */
    td.table-data-cell:not([class^="bg-"]) {
        @apply bg-white;
    }
    
    th.table-data-footer-cell:not([class^="bg-"]) {
        @apply bg-stone-200;
    }
    
    .field-combo-box[data-required="true"] > input:invalid {
        @apply !ring-red-600;
    }
    
    .base-tabs {
        .tab-list {
            @apply flex data-[orientation=vertical]:flex-col;

            .tab-header {
                @apply cursor-pointer hover:bg-sky-300 px-2 py-1 rounded-t-md;
                
                &[data-selected="true"] {
                    @apply border-b-2 border-sky-600 font-semibold bg-sky-200;
                }
            }
        }
    }
}